<h1 class="h1-bg text-center">List Articles</h1>

<% if session[:userinfo] %>
    <div class="text-right">
        <%= link_to 'New article', new_article_path, class: "hover:text-white hover:no-underline hover:text-white hover:no-underline bg-dk-blue hover:bg-indigo-700 text-white font-bold py-4 px-8" %>
    </div>
<% end %>

<section class="jumbotron bg-white shadow mt-12">
    <table id="railtable" class="w-full m-auto rounded">
        <% @articles.each do |article| %>
            <tr class="list-article-row flex flex-row bg-transparent border-gray-300">
                <td class="article-title w-3/6 flex items-center"><%= link_to article.title, article_path(article), class: "flex flex-row hover:no-underline hover:text-black" %></td>

                <td class="w-1/6 tags"><button class="text-black bg-white hover:no-underline py-1 px-4 rounded-full"><%= raw article.tag_list.map { |t| link_to t, tag_path(t) }.join('</button> <button class="text-black bg-white hover:no-underline py-1 px-4 rounded-full">') %></td>
                    
                <% if session[:userinfo] %>
                    <td class="edit w-1/6 flex items-center justify-end"><%= link_to 'Edit', edit_article_path(article), class: "text-dk-blue font-bold mr-2" %><ion-icon name="create" class="text-gray-600 text-3xl"></ion-icon></td>
                <% end %>
                
                <% if session[:userinfo] %>
                    <td class="delete w-1/6 flex items-center">
                        <%= button_to 'Delete', article_path(article),
                            method: :delete,
                            data: { confirm: 'Are you sure?' }, class: "bg-transparent text-dk-blue font-bold mr-2" %><ion-icon name="trash" class="text-gray-600 text-3xl">
                        </ion-icon>
                    </td>
                <% end %>
                    
            </tr>
            
        <% end %>
    </table>
</section>