<% if session[:userinfo] %>
    <h1>New Article</h1>
    <%= form_with scope: :article, url: articles_path, local: true do |form| %>

        <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
        </p>
    
        <p>
        <%= form.label :text %><br>
        <%= form.text_area :text %>
        </p>
    
        <p>
        <%= form.submit %>
        </p>
    <% end %>
<% end %>

<% if session[:userinfo].nil? %>
    <section class="jumbotron  text-center">
        <p>You must log in to create a new article.</p>
    </section>
<% end %>