<!DOCTYPE html>
<html>
<head>
  <title>RubyOnRails Auth0 Sample</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= yield :cdn_code %>
  <%= stylesheet_link_tag 'styles.css' %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <%= stylesheet_pack_tag 'stylesheets', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="body">

    <nav class="navbar navbar-static-top border-b-1 border-gray-400 p-8 w-4/5 m-auto mb-8">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed border-solid border-2 border-purple-500" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bg-purple-500"></span>
            <span class="icon-bar bg-purple-500"></span>
            <span class="icon-bar bg-purple-500"></span>
          </button>
          <a class="navbar-brand" href="/">My Application</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav md:flex items-center">
            <li class="<%= 'active' if params[:controller] == 'home' %>"><a href="/">Home</a></li>
            <li class="<%= 'active' if params[:controller] == 'dashboard' %>"><a href="/dashboard">My Dashboard</a></li>
            <li class="<%= 'active' if params[:controller] == 'articles' %>"><a href="/articles">Articles</a></li>
            <a class="text-white mx-2" href="/articles/new">
              <li class="flex justify-center"><button class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-4 px-8 rounded flex items-center">Create New <ion-icon name="add" class="ml-8 text-3xl"></ion-icon></button></li>
            </a>
          </ul>
          
          <% if session[:userinfo].nil? %>
            <ul class="nav navbar-nav navbar-right flex h-20 items-center">
              <li><%= button_to 'Login', 'auth/auth0', method: :post, class: 'active bg-transparent border-solid border-2 border-purple-500 rounded py-4 px-8', id: 'qsLoginBtn' %></li>
            </ul>
          <% end %>
          
          <% if session[:userinfo] %>
            <ul class="nav navbar-right flex flex-row items-center">
              <li class="<%= 'active' if params[:controller] == 'logout' %>"><a id="qsLogoutBtn" class="bg-transparent border-solid border-2 border-purple-500 rounded" href="/logout">Logout</a></li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>
  <div class="container">
    <%= yield %>
  </div>
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>


